{% extends 'base.html.twig' %}

{% block title %}Генерация нового протокола{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb border-0 m-0 px-0 px-md-3">
        <li class="breadcrumb-item"><a href="{{ path('procedures') }}">Процедуры</a></li>
        <li class="breadcrumb-item"><a href="{{ path('procedure.show', {'procedureId': procedure_id}) }}">Процедура №{{ protocol.procedureNumber }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('lot.protocols', {'lot_id':lot.id}) }}">Протоколы</a></li>
        <li class="breadcrumb-item"><a href="{{ path('lot.protocol.create', {'lot_id':lot.id}) }}">Создание протокола</a></li>
        <li class="breadcrumb-item active">{{ protocol.protocolName }}</li>
    </ol>
{% endblock %}

{% block body %}
    <div class="fade-in">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="card">
                    {{ form_start(form) }}
                    {{ form_widget(form.sign) }}
                    {{ form_errors(form.sign) }}
                    <div class="card-footer">
                        <button id="sign_protocol" class="btn btn-sm btn-success" data-hash="{{ hash }}" data-thumbprint="{{ certificate_thumbprint }}" type="submit">Подписать и опубликовать</button>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
            <div id="printableArea" class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <p class="m-2"><h5>{{ protocol.organizerInfo.fullName }}</h5></p>
                                <p class="m-0"><strong>{{ protocol.protocolName }} (торговая процедура №{{ protocol.procedureNumber }})</strong></p>
                                <p style="white-space: pre-line">
                                    {{ protocol.firstBlock }}
                                    <span style="padding: 5px;display: inline-block;color: black;">  {{ protocol.city }}</span>
                                    {{ protocol.twoBlock }}
                                </p>

                                {% for lot in protocol.lots %}

                                    <p><strong>Комиссия приняла решение:</strong></p>
                                    {% if (protocol.countBids >= '2') %}
                                    <div class="table-responsive-sm">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th class="center"></th>
                                                <th>Участник</th>
                                                <th>Результат рассмотрения</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for bid in lot.results.bids %}
                                                <tr>
                                                    <td class="center"></td>
                                                    <td class="left">{{ bid.fullNameParticipant }}</td>
                                                    <td class="left">{{ bid.localizedStatus }}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    {% endif %}
                                    {% if lot.results.comment != ' '%}
                                    <p><strong>Процедура признана несостоявшейся по причине: </strong>{{ lot.results.comment }}</p>
                                    {% endif %}
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function printDiv(divName) {
            var printContents = document.getElementById(divName).innerHTML;
            var originalContents = document.body.innerHTML;
            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalContents;
        }
    </script>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('protocol_sign') }}
{% endblock %}