{% extends 'base.html.twig' %}
{% block title %}Уведомления{% endblock %}
{% block breadcrumbs %}
    <ol class="breadcrumb border-0 m-0 px-0 px-md-3">
        <li class="breadcrumb-item active">Уведомления</li>
    </ol>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">Уведомления</div>
                <div class="card-body">
                    {{ form_start(form) }}
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                {{ form_widget(form.text, {'attr':{'class':'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-md-2">
                            <button type="submit" class="btn btn-primary">Найти</button>
                            <a href="{{ path('notifications', {'user_id': user_id}) }}" class="btn btn-outline-secondary">Сбросить</a>
                        </div>
                    </div>
                    {{ form_end(form) }}
                    <table class="table table-responsive-sm table-bordered table-striped table-sm">
                        <thead>
                        <tr>
                            <th>Время и дата</th>
                            <th>Текст</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody class="mini-table-body">
                        {% set token = csrf_token('index') %}
                        {% for notification in notifications %}
                            <tr>
                                <td>{{ date(notification.created_at) }}</td>
                                <td>

                                    {{ notification.text | raw }}</td>
                                <td id="n-{{ notification.id }}">
                                    {% if notification.updated_at is null %}
                                    <a href="#" onclick="read('{{ notification.id }}', 'one'); return false;">
                                        <i class="fa fa-check-square text-success" title="Отметить прочитанным"></i>
                                    </a>
                                        {% else %}
                                        <i class="fa fa-eye" title="Прочитано"></i>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="navigation">
                        {{ knp_pagination_render(notifications) }}
                    </div>
                </div>
            </div>

        </div>

    </div>
{% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('notification') }}
        {{ parent() }}
    {% endblock %}