{% extends 'base.html.twig' %}

{% block title %}Роли{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb border-0 m-0 px-0 px-md-3">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">Панель управления</a></li>
        <li class="breadcrumb-item"><a href="{{ path('settings') }}">Настройки</a></li>
        <li class="breadcrumb-item active">Роли</li>
    </ol>
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-lg-9">
            {% if(profileAccess.isAdmin()) %}
            <div class="card">
                <div class="card-footer">
                    <a href="{{ path('role.create') }}">Добавить роль</a>
                </div>
            </div>
            {% endif %}
            <div class="card">
                <div class="card-header"></div>
                <div class="card-body">
                    <table class="table table-responsive-sm table-bordered table-striped table-sm">
                        <thead>
                        <tr>
                            <th></th>
                            {% for role in roles %}
                                <th style="text-align: center">
                                    <a href="{{ path('role.show', {'id': role.id}) }}">{{ role.name }}</a>
                                </th>
                            {% endfor %}
                        </tr>
                        </thead>
                        </thead>
                        <tbody class="mini-table-body">
                        {% for permission in permissions %}
                            <tr>
                                <td>{{ permission|trans({}, 'permissions') }}</td>
                                {% for role in roles %}
                                    <td style="text-align: center">
                                        {% if permission in role.permissions %}
                                            <span class="fa fa-check"></span>
                                        {% endif %}
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <div class="col-lg-3">
            <div class="card">
                <div class="card-header">Операции</div>
                <div class="card-body">
                    <nav class="nav flex-column">
                        <a class="nav-link" href="{{ path('roles') }}">Роли</a>
                    </nav>
                </div>
            </div>
        </div>
    </div>
{% endblock %}