{% extends 'base.html.twig' %}

{% block title %}{{ role.name }}{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb border-0 m-0 px-0 px-md-3">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">Панель управления</a></li>
        <li class="breadcrumb-item"><a href="{{ path('settings') }}">Настройки</a></li>
        <li class="breadcrumb-item"><a href="{{ path('roles') }}">Роли</a></li>
        <li class="breadcrumb-item active">{{ role.name }}</li>
    </ol>
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-lg-9">
            {% if(profileAccess.isAdmin()) %}
            <div class="card">
                <div class="card-footer">
                    <a href="{{ path('role.edit', {'id': role.id}) }}">Редактировать</a> |
                    <a href="{{ path('role.copy', {'id': role.id}) }}">Клонировать</a>
                </div>
            </div>
            {% endif %}
            <div class="card">
                {% if(profileAccess.isAdmin()) %}
                <div class="card-header"> <div class="card-header-actions">
                        <form action="{{ path('role.delete', {'id': role.id}) }}" method="post" onsubmit="return confirm('Are you sure?')">
                            <input type="hidden" name="token" value="{{ csrf_token('delete') }}" />
                            <button type="submit" class="btn-link">Удалить</button>
                        </form>
                    </div></div>
                {% endif %}
                <div class="card-body">
                    <table class="table table-responsive-sm table-bordered table-striped table-sm">
                        <tbody>
                        <tr>
                            <th>Роль</th>
                            <td>{{ role.name }}</td>
                        </tr>
                        <tr>
                            <th>Разрешения</th>
                            <td>
                                <ul class="list-unstyled my-0">
                                    {% for permission in role.permissions %}
                                        <li>{{ permission |trans({}, 'permissions') }}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <div class="col-lg-3">
            <div class="card">
                <div class="card-header">Операции</div>
                <div class="card-body">
                    <nav class="nav flex-column">
                        <a class="nav-link" href="{{ path('roles') }}">Роли</a>
                    </nav>
                </div>
            </div>
        </div>
    </div>
{% endblock %}