{% extends 'base.html.twig' %}

{% block title %}Решение{% endblock %}
{% block breadcrumbs %}
    <ol class="breadcrumb border-0 m-0 px-0 px-md-3">
        <li class="breadcrumb-item"><a href="{{ path('profile', {'profile_id': profile.id }) }}">{{ profile.certificate_owner }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('profile.xml_documents', {'profile_id': profile.id }) }}">Заявления на регистрацию</a></li>
        <li class="breadcrumb-item"><a href="{{ path('profile.xml_document.show', {'profile_id':profile.id, 'xml_document_id':xml_document.id}) }}">Заявление №2134343 от {{ xml_document.created_at }}</a></li>
        <li class="breadcrumb-item active">Решение</li>
    </ol>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">Решение</div>
                {{ form_start(form) }}
                <div class="card-body">
                    <fieldset class="form-group">
                        <label>Комментарий модератора:</label>
                        <div class="input-group">
                            {{ form_widget(form.cause, {'attr': {'class':'form-control'}}) }}
                            {{ form_errors(form.cause) }}
                        </div>
                    </fieldset>
                </div>
                <div class="card-footer">
                    {{ form_widget(form.approved, {'label': 'Одобрить заявление пользователя', 'attr': {'class': 'btn btn-success btn-sm'}}) }}

                    {{ form_widget(form.reject, {'label': 'Отклонить заявление пользователя', 'attr': {'class': 'btn btn-danger btn-sm'}}) }}
                </div>
                {{ form_end(form) }}

            </div>
        </div>
    </div>
{% endblock %}