{% extends 'base.html.twig' %}

{% block title %}Пользователи в обработке{% endblock %}
{% block breadcrumbs %}
    <ol class="breadcrumb border-0 m-0 px-0 px-md-3">
        <li class="breadcrumb-item active">Пользователи в обработке</li>
    </ol>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">Пользователи в обработке</div>
                <div class="card-body">
                    {{ form_start(form) }}
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                {{ form_widget(form.userName, {'attr':{'class':'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                {{ form_widget(form.subjectNameInn, {'attr':{'class':'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                {{ form_widget(form.email, {'attr':{'class':'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                {{ form_widget(form.phone, {'attr':{'class':'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                {{ form_widget(form.clientIp, {'attr':{'class':'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-md-2">
                            <button type="submit" class="btn btn-primary">Найти</button>
                            <a href="{{ clear_url }}" class="btn btn-outline-secondary">Сбросить</a>
                        </div>
                    </div>
                    {{ form_end(form) }}
                    <table class="table table-responsive-sm table-bordered table-striped table-sm">
                        <thead>
                        <tr>
                            <th>Наименование</th>
                            <th>ИНН</th>
                            <th>Email</th>
                            <th>Телефон</th>
                            <th>Организационно-правовая форма</th>
                            <th>Роль</th>
                            <th>IP</th>
                            <th{% if pagination.isSorted('x.created_at') %} class="sorted"{% endif %}>
                                {{ knp_pagination_sortable(pagination, 'Дата отправления заявки', 'x.created_at') }}
                            </th>
                            <th>Обработать до</th>
							 <th>Статус</th>
                            <th>Действия</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for profile_xml_document in pagination %}
                            <tr>
                                <td>
                                    <a target="_blank" href="{{ path('profile.xml_document.show', {'profile_id':profile_xml_document.profile_id, 'xml_document_id':profile_xml_document.id}) }}">
                                        {% if profile_xml_document.incorporated_form == 'LEGAL_ENTITY' %}
                                            {{ profile_xml_document.full_title_organization }}
                                        {% elseif profile_xml_document.incorporated_form == 'INDIVIDUAL_ENTREPRENEUR' %}
                                            ИП {{ profile_xml_document.user_name }}
                                        {% else %}
                                            {{ profile_xml_document.user_name }}
                                        {% endif %}
                                    </a>
                                </td>
                                {% if profile_xml_document.incorporated_form == 'LEGAL_ENTITY' %}
                                    <td>{{ filter_inn(profile_xml_document.subject_name_inn) }}</td>
                                {% else %}
                                    <td>{{ profile_xml_document.subject_name_inn ?? 'Нет ЭП' }}</td>
                                {% endif %}
                                <td>{{ profile_xml_document.email }}</td>
                                <td>{{ profile_xml_document.phone }}</td>
                                <td>{{ incorporation_form_profile(profile_xml_document.incorporated_form) }}</td>
                                <td>{{ profile_xml_document.role_name }}</td>
                                <td>{{ profile_xml_document.client_ip }}</td>
                                <td>{{ date(profile_xml_document.created_at, false) }}</td>
                                <td>{{ date(calc_processing_period(profile_xml_document.created_at), false) }}</td>
								  <td>
                                        {{ XmlDocumentStatus(profile_xml_document.profile_id) }}
                                    </td>
                                <td><a href="{{ path('profile.xml_document.show', {'profile_id':profile_xml_document.profile_id, 'xml_document_id':profile_xml_document.id}) }}">Открыть документ</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="navigation">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
