{% extends 'base.html.twig' %}

{% block title %}Запрос на сформирование документов{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb border-0 m-0 px-0 px-md-3">
        <li class="breadcrumb-item"><a href="{{ path('procedures') }}">Процедуры</a></li>
        <li class="breadcrumb-item"><a href="{{ path('procedure.show', {'procedureId': procedure.id }) }}">Процедура №{{ procedure.id_number}}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('procedure.notifications', {'procedure_id': procedure.id}) }}">Извещения</a></li>
        <li class="breadcrumb-item active">Создание извещения</li>

    </ol>
{% endblock %}

{% block body %}
    <div class="fade-in">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-footer">
                        {{ form_start(form) }}
                        <button class="btn btn-sm btn-success" type="submit">Отправить на модерацию</button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
            <div id="printableArea" class="col-sm-12">
                <div class="card">
                    {% for lot in xml.lots %}
                    <div class="card-header text-center">
                        <h5>{{ xml.documentName }}</h5>
                        <h6>Торги состоятся {{ date(lot.startTradingDate) }} </h6>
                    </div>
                    <div class="card-body">
                        <div class="row">
                                <div class="col-lg-12">
                                    <p><strong>Оператор электронной торговой площадки: </strong>{{ xml.nameOrganization }}</p>
                                    <p><strong>Организатор торгов: </strong>{{ xml.organizerFullName }}</p>

                                    <br/>
                                    <p><strong style="font-size: 16px">Предмет торгов</strong></p>
{#                                    <p><strong>Лот №{{ lot.number }}</strong></p>#}
                                    <p>{{ lot.name }}</p>
                                    <p><strong>Основание для проведения торгов: </strong>{{ lot.tenderBasic }}</p>
                                    <p><strong>Форма проведения торгов: </strong>{{ lot.procedureType }}</p>
                                    <p><strong>Форма подачи предложений о цене: </strong>{{ xml.pricePresentationForm }}</p>
                                    <p><strong>Начальная цена: </strong>{{ lot.startingPrice }}, {{ lot.nds }}</p>
                                    <p><strong>Шаг аукциона: </strong>{{ lot.auctionStep }}</p>
                                    <p><strong>Сумма задатка: </strong>{{ lot.depositAmount }}</p>
                                    <br/>
                                    <p>{{ lot.depositPolicy }}</p>
                                    <p>{{ lot.moreInfo }}</p>
                                    <p><strong>Контактное лицо организатора: </strong>{{ xml.contactPerson }}</p>
                                    <p style="white-space: pre-line;"><strong>Место представления заявок: </strong>{{ lot.infoPointEntry }}</p>
                                    <p style="white-space: pre-line;"><strong>Место проведения торгов: </strong>{{ xml.infoTradingVenue }}</p>
                                    <p style="white-space: pre-line;"><strong>Порядок оформления участия в торгах и их проведение: </strong>{{ xml.infoBiddingProcess }}
                                        {{ xml.tendering_process }}</p>
                                </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
    {% block javascripts %}
        {{ parent() }}
    {% endblock %}
